name: Build PR documentation

on:
  pull_request:
    branches: [main]
    paths:
      - "optimum/**.py"
      - "docs/**"
      - ".github/workflows/build_pr_documentation.yml"
      - ".github/workflows/delete_doc_comment.yml"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build_documentation:
    runs-on: ubuntu-latest
    env:
      COMMIT_SHA: ${{ github.event.pull_request.head.sha }}
      PR_NUMBER: ${{ github.event.number }}
      EVENT_CONTEXT: ${{ toJSON(github.event) }}
      PR_CLONE_URL: ${{ github.event.pull_request.head.repo.clone_url }}

    steps:
      - uses: actions/checkout@v4

      - name: Make documentation
        run: |
          make doc BUILD_DIR=./doc-build VERSION=pr_$PR_NUMBER
          sudo mv ./doc-build/optimum.amd ./doc-build/optimum-amd
          echo ${{ env.COMMIT_SHA }} > ./commit_sha
          echo ${{ env.PR_NUMBER }} > ./pr_number

      - uses: actions/upload-artifact@v4
        with:
          name: doc-build-artifact
          path: ./doc-build/optimum-amd
